<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>goal</key>
	<integer>11</integer>
	<key>displayFloorNum</key>
	<true/>
	<key>displayMapLayer</key>
	<true/>
	<key>initialItems</key>
	<array>
		<string>PotionOfHealing</string>
		<string>StaffOfSwitching</string>
		<string>StaffOfBlowback</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>StaffOfProgress</string>
		<string>Katana</string>
	</array>
	<key>floor1</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>30</integer>
		<key>mapHeight</key>
		<integer>30</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>3</integer>
		<key>itemCount</key>
		<integer>2</integer>
		<key>trapCount</key>
		<integer>20</integer>
		<key>enemyNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Tamara</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Tamara</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Tamara</string>
			</array>
		</dict>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>PotionOfHealing</string>
				<string>HolyWater</string>
				<string>PotionOfPoison</string>
				<string>PotionOfConfusion</string>
				<string>PotionOfSleeping</string>
				<string>PotionOfParalysis</string>
				<string>WoodenSword</string>
				<string>WoodenShield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>PotionOfExtraHealing</string>
				<string>StaffOfSloth</string>
				<string>StaffOfBlowback</string>
				<string>StaffOfSwitching</string>
				<string>StaffOfJumping</string>
				<string>StaffOfPulling</string>
				<string>StaffOfProgress</string>
				<string>StaffOfRegress</string>
				<string>ShieldOfGlass</string>
				<string>SwordOfGlass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>PotionOfSpeed</string>
				<string>Katana</string>
				<string>ShieldOfIron</string>
				<string>StaffOfDeath</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>BlowbackTrap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>TeleportationTrap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>TeleportationTrapUnbreakable</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
