<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dungeonName</key>
	<string>TestDungeon</string>
	<key>goal</key>
	<integer>16</integer>
	<key>displayFloorNum</key>
	<true/>
	<key>displayMapLayer</key>
	<true/>
	<key>initialItems</key>
	<array>
		<string>Potion_of_Healing</string>
	</array>
	<key>floor1</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>30</integer>
		<key>mapHeight</key>
		<integer>30</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<false/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>3</integer>
		<key>itemCount</key>
		<integer>2</integer>
		<key>trapCount</key>
		<integer>0</integer>
		<key>enemyNames</key>
		<array>
			<string>Tamara</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Blowback_Trap</string>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor2</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>30</integer>
		<key>mapHeight</key>
		<integer>30</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<false/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>3</integer>
		<key>itemCount</key>
		<integer>2</integer>
		<key>trapCount</key>
		<integer>2</integer>
		<key>enemyNames</key>
		<array>
			<string>Tamara</string>
			<string>Mystikoi</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor3</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>30</integer>
		<key>mapHeight</key>
		<integer>30</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<false/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>3</integer>
		<key>itemCount</key>
		<integer>2</integer>
		<key>trapCount</key>
		<integer>2</integer>
		<key>enemyNames</key>
		<array>
			<string>Tamara</string>
			<string>Mystikoi</string>
			<string>Serpent</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor4</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>30</integer>
		<key>mapHeight</key>
		<integer>30</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>3</integer>
		<key>itemCount</key>
		<integer>2</integer>
		<key>trapCount</key>
		<integer>3</integer>
		<key>enemyNames</key>
		<array>
			<string>Mystikoi</string>
			<string>Serpent</string>
			<string>Rufus</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor5</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>35</integer>
		<key>mapHeight</key>
		<integer>35</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>3</integer>
		<key>itemCount</key>
		<integer>2</integer>
		<key>trapCount</key>
		<integer>3</integer>
		<key>enemyNames</key>
		<array>
			<string>Rufus</string>
			<string>Serpent</string>
			<string>Hansya_Man</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor6</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>35</integer>
		<key>mapHeight</key>
		<integer>35</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>4</integer>
		<key>enemyNames</key>
		<array>
			<string>Rufus</string>
			<string>Lich</string>
			<string>Hansya_Man</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor7</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>35</integer>
		<key>mapHeight</key>
		<integer>35</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>4</integer>
		<key>enemyNames</key>
		<array>
			<string>Lich</string>
			<string>Steel_Tamara</string>
			<string>Sea_Mystikoi</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Staff_of_Tamara</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor8</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>40</integer>
		<key>mapHeight</key>
		<integer>40</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>5</integer>
		<key>enemyNames</key>
		<array>
			<string>Steel_Tamara</string>
			<string>Sea_Mystikoi</string>
			<string>Viper</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Staff_of_Tamara</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor9</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>40</integer>
		<key>mapHeight</key>
		<integer>40</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>5</integer>
		<key>enemyNames</key>
		<array>
			<string>Viper</string>
			<string>Angry_Rufus</string>
			<string>Steel_Tamara</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Staff_of_Tamara</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor10</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>40</integer>
		<key>mapHeight</key>
		<integer>40</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>5</integer>
		<key>enemyNames</key>
		<array>
			<string>Angry_Rufus</string>
			<string>Silver_Tamara</string>
			<string>Mirror_Man</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Staff_of_Tamara</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor11</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>40</integer>
		<key>mapHeight</key>
		<integer>40</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>5</integer>
		<key>enemyNames</key>
		<array>
			<string>Silver_Tamara</string>
			<string>Mirror_Man</string>
			<string>Demilich</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Staff_of_Tamara</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
	<key>floor13</key>
	<dict>
		<key>tmxFileName</key>
		<string>tilemapAtRandom.tmx</string>
		<key>mapWidth</key>
		<integer>40</integer>
		<key>mapHeight</key>
		<integer>40</integer>
		<key>random</key>
		<true/>
		<key>shadow</key>
		<true/>
		<key>spawnEnemy</key>
		<true/>
		<key>baseMapID</key>
		<integer>-4</integer>
		<key>water</key>
		<false/>
		<key>lava</key>
		<false/>
		<key>moreLine</key>
		<false/>
		<key>pMaze</key>
		<integer>0</integer>
		<key>pOneRoom</key>
		<integer>0</integer>
		<key>enemyCount</key>
		<integer>5</integer>
		<key>itemCount</key>
		<integer>3</integer>
		<key>trapCount</key>
		<integer>5</integer>
		<key>enemyNames</key>
		<array>
			<string>Gold_Tamara</string>
			<string>Pearl_Mystikoi</string>
			<string>Demilich</string>
		</array>
		<key>itemNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Potion_of_Healing</string>
				<string>Holy_Water</string>
				<string>Potion_of_Poison</string>
				<string>Potion_of_Confusion</string>
				<string>Potion_of_Sleeping</string>
				<string>Potion_of_Paralysis</string>
				<string>Wooden_Sword</string>
				<string>Wooden_Shield</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Potion_of_Extra_Healing</string>
				<string>Potion_of_Speed</string>
				<string>Staff_of_Sloth</string>
				<string>Staff_of_Blowback</string>
				<string>Staff_of_Switching</string>
				<string>Staff_of_Jumping</string>
				<string>Staff_of_Pulling</string>
				<string>Staff_of_Teleportation</string>
				<string>Staff_of_Progress</string>
				<string>Staff_of_Regress</string>
				<string>Shield_of_Glass</string>
				<string>Sword_of_Glass</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Potion_of_Full_Healing</string>
				<string>Staff_of_Death</string>
				<string>Staff_of_Tamara</string>
				<string>Amulet_of_Lamplight</string>
				<string>Amulet_of_Magic_Tunnel</string>
				<string>Amulet_of_Strength</string>
				<string>Shield_of_Iron</string>
				<string>Katana</string>
			</array>
		</dict>
		<key>trapNames</key>
		<dict>
			<key>Common</key>
			<array>
				<string>Teleportation_Trap</string>
				<string>Spike_Trap</string>
				<string>Blowback_Trap</string>
			</array>
			<key>Uncommon</key>
			<array>
				<string>Poison_Gas_Trap</string>
				<string>Rotating_Plate</string>
				<string>Sloth_Trap</string>
			</array>
			<key>Rare</key>
			<array>
				<string>Alarm_Trap</string>
				<string>Pygmy_Trap</string>
				<string>Sleeping_Gas_Trap</string>
				<string>Summoning_Trap</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
