<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sprite</key>
	<dict>
		<key>walk</key>
		<integer>6</integer>
		<key>attack</key>
		<integer>3</integer>
	</dict>
	<key>maxHP</key>
	<integer>23</integer>
	<key>strength</key>
	<integer>11</integer>
	<key>defense</key>
	<integer>7</integer>
	<key>defaultSpeed</key>
	<integer>1</integer>
	<key>experience</key>
	<integer>42</integer>
	<key>attackSound</key>
	<string>attackMystikoi.caf</string>
	<key>shadowSize</key>
	<integer>0</integer>
	<key>pNapping</key>
	<integer>40</integer>
</dict>
</plist>
